*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

main {
   width: 40%;
   margin: 50px auto;
}

main div img {
   height: 300px;
}

main > div {
   display : inline-block;
   position: relative;
}

.secondaryImage {
   display: none;
}

.like {
   background-color: white;
   font-size: 18px;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   position: absolute;
   right: 0;
   top: 10px;
}

.discount {
   background-color: red;
   color: white;
   font-size: 11px;
   font-weight: bold;
   line-height: 20px;
   width: 35px;
   height: 20px;
   text-align: center;
   position: absolute;
   left: 0;
   bottom: 60px;
}

.additionalTag {
   background-color: green;
   color: white;
   font-weight: bold;
   font-size: 11px;
   line-height: 20px;
   width: 65px;
   height: 20px;
   text-align: center;
   position: absolute;
   left: 37px;
   bottom: 60px;
}

.leftAdditionalTag {
   background-color: green;
   color: white;
   font-weight: bold;
   font-size: 11px;
   line-height: 20px;
   width: 65px;
   height: 20px;
   text-align: center;
   position: absolute;
   left: 0px;
   bottom: 60px;
}

/* Articoli */
.articleDescription {
   display : block
}

.brandName{
   font-size: 10px;
}

.articleName {
   font-size: 12px;
   font-weight: bold;
}

.discountedPrice, .originalPrice {
   font-size: 11px
}

.discountedPrice {
   color: red;
   font-weight: bold
}

.originalPrice {
   text-decoration: line-through;
}

/* Fine Articoli */

/* Swap immagini primo articolo */
#firstArticle:hover .secondaryImage{
   display: inline-block;
}

#firstArticle:hover .primaryImage{
   display: none;
}

/* Swap immagini secondo articolo */
#secondArticle:hover .secondaryImage{
   display: inline-block;
}

#secondArticle:hover .primaryImage{
   display: none;
}

/* Swap immagini quarto articolo */
#fourthArticle:hover .secondaryImage{
   display: inline-block;
}

#fourthArticle:hover .primaryImage{
   display: none;
}

/* Swap immagini quinto articolo */
#fifthArticle:hover .secondaryImage{
   display: inline-block;
}

#fifthArticle:hover .primaryImage{
   display: none;
}

/* Swap immagini sesto articolo */
#sixthArticle:hover .secondaryImage{
   display: inline-block;
}

#sixthArticle:hover .primaryImage{
   display: none;
}